* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
}

#preloader {
  background: #000 url(../image/preload.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.disappear {
  -webkit-animation: vanish 2s forwards;
          animation: vanish 2s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

section {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #ababab;
          box-shadow: inset 0 0 5px #ababab;
  background-color: #dedede;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #043361;
}

::-webkit-scrollbar-thumb:hover {
  background: #4DBBAB;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #043361;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#scroll-btn:hover {
  background-color: #4DBBAB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .upper-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.7;
  background-color: #FAFAFA;
  color: #656565;
  font-size: 14px !important;
}

header .upper-nav i {
  margin-right: 20px;
}

header .lower-nav {
  padding: 10px 0px;
}

header .lower-nav ul li {
  margin-right: 30px;
}

header .lower-nav ul li a {
  color: #343434 !important;
  font-size: 16px;
}

header .lower-nav ul li a:hover {
  color: #4DBBAB !important;
}

header .home-header {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

header .hero-box {
  margin-top: 150px;
}

header .hero-box h1 {
  color: #043361;
  font-size: 65px;
  font-weight: bolder;
}

header .hero-box span {
  color: black;
  font-size: 45px;
  font-weight: bolder;
}

header .hero-box h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

header .special-btn {
  background-color: #4DBBAB;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .special-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .special-btn:active {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
}

header .special-btn:visited {
  text-decoration: none;
  color: #FFF;
}

.features {
  margin-top: -50px;
}

.features p {
  color: #FFFFFF;
  letter-spacing: 2px;
}

.features .card {
  padding: 40px 20px 60px 20px;
  border-radius: 0px;
  border: none;
}

.features .od-section {
  padding-right: 0px;
  padding-left: 0px;
}

.features .od-section .card {
  background-color: #4DBBAB;
}

.features .ev-section {
  padding-right: 0px;
  padding-left: 0px;
}

.features .ev-section .card {
  background-color: #5B9989;
}

.features h2 i {
  font-size: 45px;
  color: #043361;
}

.features h4 {
  color: #043361;
}

.about-us {
  padding-top: 50px;
}

.about-us .doc-image {
  padding-left: 0px;
  padding-right: 0px;
}

.about-us .doc-desc {
  padding: 30px 60px;
  line-height: 40px;
}

.about-us .doc-desc h6 {
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #043361;
}

.about-us .doc-desc h3 {
  margin-bottom: 50px;
  color: #4DBBAB;
}

.about-us .feature-list i {
  color: #043361;
  /* font-size: 35px; */
  border: 1px solid #043361;
  /* padding: 15px; */
  height: 55px;
  margin: 30px 20px 30px 0px;
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.about-us .feature-list h5 {
  margin-top: 30px;
  font-size: 18px;
  color: #043361;
}

.about-us .feature-list p {
  font-size: 14px;
  line-height: 25px;
}

.departments .doc-image {
  padding-left: 0px;
  padding-right: 0px;
}

.departments .doc-desc {
  padding: 30px 60px;
  line-height: 30px;
}

.departments .doc-desc h6 {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.departments .doc-desc h3 {
  margin-bottom: 50px;
}

.departments .feature-list i {
  color: #FFF;
  background-color: #043361;
  font-size: 35px;
  border: 1px solid #043361;
  padding: 15px;
  margin: 30px 20px 30px 0px;
}

.departments .feature-list h5 {
  margin-top: 30px;
  font-size: 18px;
}

.departments .feature-list p {
  font-size: 14px;
  line-height: 25px;
}

.consultation {
  background-image: url(../image/Digital-banners-Coronavirus-Virus-cell-1200x500-tinted_tcm18-72639_w1200_n.png), -webkit-gradient(linear, left top, left bottom, from(rgba(77, 181, 171, 0.7)), to(rgba(77, 181, 171, 0.7)));
  background-image: url(../image/Digital-banners-Coronavirus-Virus-cell-1200x500-tinted_tcm18-72639_w1200_n.png), linear-gradient(rgba(77, 181, 171, 0.7), rgba(77, 181, 171, 0.7));
  background-blend-mode: overlay;
  height: 235px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 78.33333px;
}

.consultation h3 {
  color: #FFF;
  font-size: 35px;
  letter-spacing: 2px;
}

.consultation p {
  color: #FFF;
  letter-spacing: 1px;
}

.consultation .special-btn {
  background-color: #4DBBAB;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 78.33333px;
  color: #FFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.consultation .special-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.consultation .special-btn:active {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
}

.consultation .special-btn:visited {
  text-decoration: none;
  color: #FFF;
}

.page-desc {
  background-image: url(../image/blog3.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(77, 181, 171, 0.6)), to(rgba(77, 181, 171, 0.6)));
  background-image: url(../image/blog3.jpg), linear-gradient(rgba(77, 181, 171, 0.6), rgba(77, 181, 171, 0.6));
  background-blend-mode: overlay;
  height: 235px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 78.33333px;
}

.page-desc h3 {
  color: #FFF;
  font-size: 35px;
  letter-spacing: 2px;
}

.page-desc p {
  color: #FFF;
  letter-spacing: 1px;
}

.page-desc .special-btn {
  background-color: #4DBBAB;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 78.33333px;
  color: #FFF;
}

.page-desc .special-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
}

.page-desc .special-btn:active {
  text-decoration: none;
  color: #FFF;
  background-color: #043361;
}

.page-desc .special-btn:visited {
  text-decoration: none;
  color: #FFF;
}

.departments {
  padding: 50px 40px;
  background-color: #fefefe;
}

.departments .desc-paragraph {
  color: #555;
  letter-spacing: 1px;
  padding: 15px 150px;
}

.departments h3 {
  color: #4DBBAB;
  font-size: 40px;
}

.departments h5 {
  color: #043361;
}

.departments .tabs ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.departments .tabs ul li button {
  color: #4DBBAB;
  font-size: 20px;
}

.departments .tabs ul li .active {
  background-color: #043361;
}

.doctors {
  padding: 50px 40px;
  background-color: #fefefe;
}

.doctors .desc-paragraph {
  color: #555;
  letter-spacing: 1px;
  padding: 15px 150px;
}

.doctors h3 {
  color: #4DBBAB;
  font-size: 40px;
}

.doctors h5 {
  color: #043361;
}

.doctors .doctor .card {
  border: 1px solid #4DBBAB;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.doctors .doctor .card:hover .social-links {
  display: block;
  background-color: #4DBBAB;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.doctors .doctor .card:hover .social-links ul li a {
  color: #fff;
}

.doctors .doctor .card img {
  border-radius: 10px;
}

.doctors .doctor .card h5 {
  color: #4DBBAB;
  padding: 0px 10px;
}

.doctors .doctor .card h6 {
  color: #555555;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 0px 10px;
}

.doctors .doctor .card p {
  padding: 0px 10px;
}

.doctors .doctor .card .social-links {
  position: absolute;
  top: 245px;
  width: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.doctors .doctor .card .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.doctors .doctor .card .social-links ul li a {
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.doctors .doctor .card .social-links ul li a i {
  font-size: 18px;
}

.doctors .doctor .card .social-links ul li a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #043361;
}

.doctors .small-doctors {
  display: none;
}

.testimonials {
  padding: 80px;
  background-color: #EFEFEF;
}

.testimonials h5 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #4DBBAB;
}

.testimonials h6 {
  color: #043361;
  font-size: 16px;
}

.testimonials .desc-paragraph {
  color: #555;
  letter-spacing: 1px;
  padding: 15px 150px;
}

.testimonials img {
  border-radius: 10px;
}

.testimonials h1 {
  color: #043361;
}

.testimonials h1 i {
  font-size: 30px;
}

.testimonials .carousel-item p {
  letter-spacing: 1px;
  color: #6A6A6A;
}

.testimonials .carousel-item h5 {
  color: #043361;
  font-size: 22px;
}

.testimonials .carousel-item h6 {
  color: #4DBBAB;
  font-size: 18px;
}

.carousel-indicators {
  position: absolute;
  top: 210px;
}

.carousel-indicators li {
  background-color: #043361;
}

.contact-us .contact-form {
  background-color: #043361;
  padding: 60px 20px;
}

.contact-us h6 {
  color: #C1DCFE;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
}

.contact-us h3 {
  color: #FFF;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 40px;
}

.contact-us p {
  font-size: 18px;
  letter-spacing: 2px;
  color: #EBF3FF;
}

.contact-us .a-h {
  margin-top: 40px;
}

.contact-us form input {
  background-color: #043361;
  color: #FFFFFF;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  outline-style: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #bbb;
}

.contact-us form input::-webkit-input-placeholder {
  color: #AFAFAF;
}

.contact-us form input:-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form input::-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form input::placeholder {
  color: #AFAFAF;
}

.contact-us form select {
  background-color: #043361;
  color: #FFFFFF;
  width: 100%;
  margin-top: 15px;
  outline-style: none;
  margin-bottom: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #bbb;
}

.contact-us form select::-webkit-input-placeholder {
  color: #AFAFAF;
}

.contact-us form select:-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form select::-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form select::placeholder {
  color: #AFAFAF;
}

.contact-us form textarea {
  background-color: #043361;
  padding: 10px;
  color: #FFFFFF;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  outline-style: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #bbb;
}

.contact-us form textarea::-webkit-input-placeholder {
  color: #AFAFAF;
}

.contact-us form textarea:-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form textarea::-ms-input-placeholder {
  color: #AFAFAF;
}

.contact-us form textarea::placeholder {
  color: #AFAFAF;
}

.contact-us form .submit-btn {
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  color: #FFF;
  background-color: #4DBBAB;
  width: 100%;
  margin-top: 25px;
}

.contact-us .facts-card {
  border: none;
  background-color: #F7F7F7;
  padding: 25px;
  margin: 12px;
}

.contact-us .facts-card .counter {
  font-weight: bold;
  color: #4DBBAB;
  font-size: 30px;
}

.contact-us .facts-card h5 {
  font-size: 18px;
}

.pricing {
  padding: 80px 80px 150px 80px;
  background-color: #EFEFEF;
}

.pricing h5 {
  font-size: 16px;
  letter-spacing: 2px;
}

.pricing h3 {
  color: #4DBBAB;
  font-size: 40px;
}

.pricing .desc-paragraph {
  color: #555;
  letter-spacing: 1px;
  padding: 15px 150px;
}

.pricing .plan-card {
  position: relative;
  padding: 30px 15px;
  border: 2px solid #043361;
}

.pricing .plan-card ul li {
  color: #656565;
  margin: 35px auto;
}

.pricing .plan-card h3 {
  font-size: 35px;
  font-weight: bold;
  color: #043361;
}

.pricing .plan-card h3 span {
  font-size: 12px;
  color: #6A6A6A;
  font-weight: lighter;
}

.pricing .plan-card:hover {
  border: 2px solid #4DBBAB;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing .plan-card:hover .get-offer {
  background-color: #4DBBAB;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing .plan-card:hover h3 {
  color: #4DBBAB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing .plan-card .get-offer {
  position: absolute;
  top: 465px;
  left: 20%;
  margin: auto;
  background-color: #043361;
  color: #FFF;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  width: 60%;
}

.blog {
  padding: 0px 80px 150px;
  background-color: #EFEFEF;
}

.blog h5 {
  font-size: 16px;
  letter-spacing: 2px;
}

.blog h3 {
  color: #4DBBAB;
  font-size: 40px;
}

.blog .desc-paragraph {
  color: #555;
  letter-spacing: 1px;
  padding: 15px 150px;
}

.blog .card-header {
  padding: 0px;
}

.blog .card-body a {
  color: #000;
  font-size: 20px;
}

.blog .card-body a:hover {
  text-decoration: none;
}

.blog .card-body p {
  color: #656565;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.blog .card-body .read-more {
  background-color: #4DBBAB;
  color: #FFF;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 15px;
  border: 1px solid #4DBBAB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog .card-body .read-more:hover {
  border: 1px solid #043361;
  color: #043361;
  background-color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog .card-body i {
  font-size: 12px;
}

.blog .card-body .author {
  color: #043361;
  font-size: 16px;
  float: right;
}

.blog .card-body .author:hover {
  text-decoration: none;
  color: #4DBBAB;
}

.blog .card-body span {
  color: #043361;
  float: right;
  margin-right: 15px;
}

.blog .pagination {
  margin-top: 65px;
}

.blog .pagination ul a {
  margin-right: 10px;
  border: 1px solid #043361;
  padding: 3px 12px;
  border-radius: 5px;
  color: #043361;
}

.blog .pagination ul .active {
  background-color: #043361;
  color: #fff;
}

.contact-box {
  background-color: #efefef;
  height: 120px;
}

.contact-box span {
  font-size: 16px;
  color: #141313;
  font-weight: bolder;
}

.contact-box p {
  font-size: 13px;
  color: #666;
}

.footer {
  background-color: #141313;
  padding-top: 80px;
}

.footer h2 {
  color: #4DBBAB;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.footer h2 span {
  font-size: 24px;
  color: #2F89FC;
  font-weight: bolder;
  letter-spacing: 1px;
}

.footer p {
  color: #bbb;
  letter-spacing: 1px;
}

.footer .location-details li {
  color: #eeeeee;
}

.footer .location-details li:first-child {
  color: #999999;
}

.footer .social-ico {
  list-style-type: none;
}

.footer .social-ico li {
  margin-right: 50px;
  display: inline;
}

.footer .social-ico li a {
  color: #eeeeee;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .social-ico li a i {
  font-size: 28px;
}

.footer .social-ico li a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #4DBBAB;
}

.footer .second-col a {
  color: #cdcdcd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .second-col a li i {
  font-size: 12px;
}

.footer .second-col a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #4DBBAB;
}

.footer .third-col a {
  color: #A4A4A4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .third-col a:hover {
  color: #4DBBAB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.footer .submit-form input {
  border-radius: 0px;
  outline-style: none;
}

.footer .submit-form input::-webkit-input-placeholder {
  text-align: center;
  color: #043361;
}

.footer .submit-form input:-ms-input-placeholder {
  text-align: center;
  color: #043361;
}

.footer .submit-form input::-ms-input-placeholder {
  text-align: center;
  color: #043361;
}

.footer .submit-form input::placeholder {
  text-align: center;
  color: #043361;
}

.footer .submit-form button {
  border-radius: 0px;
  outline-style: none;
  background-color: #4DBBAB;
  border: 1px solid #4DBBAB;
}

.footer .submit-form button:hover {
  background-color: #043361;
  border: 1px solid #043361;
}

.login {
  padding: 50px 0px;
}

.login h2 {
  color: #4DBBAB;
  margin-bottom: 25px;
  font-size: 22px;
}

.login a {
  color: #000;
}

.login .login-form input {
  outline-style: none;
}

.login .login-form input:first-child {
  margin-bottom: 20px;
}

.login .login-form a {
  font-size: 12px;
  color: #323232;
}

.login .login-form button {
  border: none;
  float: right;
  margin-top: 20px;
  padding: 5px 30px;
  background-color: #4DBBAB;
  color: #fff;
  border-radius: 50px;
}

.login .login-form h6 {
  margin-top: 60px;
  color: #043361;
  font-size: 14px;
}

.login .login-form h6 a {
  font-size: 14px;
}

.login .register-form input {
  outline-style: none;
  margin-bottom: 20px;
}

.login .register-form a {
  font-size: 12px;
  color: #323232;
}

.login .register-form button {
  border: none;
  float: right;
  margin-top: 20px;
  padding: 5px 30px;
  background-color: #4DBBAB;
  color: #fff;
  border-radius: 50px;
}

.login .register-form h6 {
  margin-top: 60px;
  color: #043361;
  font-size: 14px;
}

.login .register-form h6 a {
  font-size: 14px;
}

footer {
  background-color: #141313;
  color: #A4A4A4;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

footer h2 {
  font-size: 16px;
}

@media (max-width: 376px) {
  header .upper-nav img {
    margin-bottom: 10px;
  }
  header .upper-nav p {
    font-size: 10px;
  }
  header .upper-nav span {
    font-size: 12px;
  }
  header .special-btn {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 20px;
    color: #FFF;
  }
  header .hero-box {
    margin-top: 150px;
  }
  header .hero-box h1 {
    color: #043361;
    font-size: 40px;
    font-weight: bolder;
  }
  header .hero-box span {
    color: black;
    font-size: 25px;
    font-weight: bolder;
  }
  header .hero-box h4 {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .features {
    margin-top: -50px;
  }
  .features p {
    color: #FFFFFF;
    letter-spacing: 2px;
  }
  .features .card {
    padding: 20px;
    border-radius: 0px;
    border: none;
  }
  .features .od-section h4 {
    font-size: 18px;
  }
  .features .od-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features .ev-section h4 {
    font-size: 18px;
  }
  .features .ev-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features h2 i {
    font-size: 45px;
    color: #043361;
  }
  .features h4 {
    color: #043361;
  }
  .about-us {
    text-align: center;
  }
  .about-us .doc-image {
    display: none;
  }
  .about-us .doc-desc h6 {
    margin-bottom: 15px;
    font-size: 11px;
  }
  .about-us .doc-desc h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-us .doc-desc p {
    font-size: 10px;
    line-height: 15px;
  }
  .about-us .doc-desc .feature-list i {
    margin: 0px;
  }
  .about-us .doc-desc .feature-list h5 {
    margin-top: 20px;
    font-size: 15px;
  }
  .consultation h3 {
    font-size: 20px;
  }
  .consultation p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .consultation .special-btn-cols {
    text-align: center;
  }
  .consultation .special-btn {
    padding: 7px 14px;
    font-size: 13px;
  }
  .departments h5 {
    font-size: 14px;
  }
  .departments h3 {
    font-size: 22px;
  }
  .departments p {
    font-size: 12px;
    line-height: 18px;
  }
  .departments .desc-paragraph {
    padding: 0px;
  }
  .departments .tabs ul li button {
    font-size: 12px;
  }
  .departments .doc-desc {
    text-align: center;
    padding: 0px;
  }
  .departments .doc-desc h3 {
    margin-bottom: 15px;
  }
  .departments .doc-desc p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .departments .doc-desc .feature-list i {
    margin: 5px;
    font-size: 25px;
    padding: 10px;
  }
  .departments .doc-desc .feature-list h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .departments .doc-image {
    display: none;
  }
  .doctors {
    padding: 0px;
  }
  .doctors h5 {
    font-size: 12px;
  }
  .doctors h3 {
    font-size: 24px;
  }
  .doctors .desc-paragraph {
    font-size: 12px;
    padding: 0px;
  }
  .doctors .large-doctors {
    display: none;
  }
  .doctors .small-doctors .doc-sm-desc {
    text-align: left;
  }
  .doctors .small-doctors .doc-sm-desc h5 {
    font-size: 12px;
    color: #4DBBAB;
  }
  .doctors .small-doctors .doc-sm-desc h6 {
    color: #043361;
    font-size: 12px;
  }
  .doctors .small-doctors .doc-sm-desc p {
    font-size: 12px;
  }
  .doctors .small-doctors {
    display: block;
  }
  .testimonials {
    padding: 20px 80px 10px 80px;
  }
  .testimonials h5 {
    font-size: 12px;
  }
  .testimonials h3 {
    font-size: 24px;
  }
  .testimonials .desc-paragraph {
    padding: 0px;
    font-size: 12px;
  }
  .testimonials h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .testimonials h1 i {
    font-size: 20px;
  }
  .testimonials p {
    font-size: 12px;
  }
  .testimonials .doc-name {
    color: #4DBBAB;
  }
  .testimonials h6 {
    font-size: 12px;
    color: #043361;
  }
  .contact-us {
    height: 570px;
  }
  .contact-us h6 {
    font-size: 14px;
  }
  .contact-us h3 {
    font-size: 26px;
  }
  .contact-us p {
    font-size: 14px;
  }
  .contact-us .statistics {
    display: none;
  }
  .pricing {
    padding: 40px 30px;
  }
  .pricing .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .pricing h5 {
    font-size: 12px;
  }
  .pricing h3 {
    font-size: 24px;
  }
  .pricing .plan-card {
    margin-top: 10px;
    position: relative;
    padding: 15px 10px;
  }
  .pricing .plan-card h4 {
    font-size: 16px;
  }
  .pricing .plan-card h3 {
    font-size: 25px;
  }
  .pricing .plan-card h3 span {
    font-size: 10px;
  }
  .pricing .plan-card ul li {
    margin: 15px auto;
    font-size: 14px;
  }
  .pricing .plan-card .get-offer {
    position: absolute;
    top: 270px;
    left: 30%;
    margin: auto;
    color: #FFF;
    padding: 7px 5px;
    border-radius: 50px;
    font-size: 12px;
    width: 40%;
  }
  .blog {
    padding: 0px;
  }
  .blog .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .blog h5 {
    font-size: 12px;
  }
  .blog h3 {
    font-size: 24px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 18px;
    margin-top: 15px;
  }
  .footer ul li {
    font-size: 13px;
  }
  .footer .social-ico li a i {
    font-size: 18px;
  }
}

@media (min-width: 377px) and (max-width: 420px) {
  header .upper-nav img {
    margin-bottom: 10px;
  }
  header .upper-nav p {
    font-size: 10px;
  }
  header .upper-nav span {
    font-size: 12px;
  }
  header .special-btn {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 20px;
    color: #FFF;
  }
  header .hero-box {
    margin-top: 150px;
  }
  header .hero-box h1 {
    color: #043361;
    font-size: 40px;
    font-weight: bolder;
  }
  header .hero-box span {
    color: black;
    font-size: 25px;
    font-weight: bolder;
  }
  header .hero-box h4 {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .features {
    margin-top: -50px;
  }
  .features p {
    color: #FFFFFF;
    letter-spacing: 2px;
  }
  .features .card {
    padding: 20px;
    border-radius: 0px;
    border: none;
  }
  .features .od-section h4 {
    font-size: 18px;
  }
  .features .od-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features .ev-section h4 {
    font-size: 18px;
  }
  .features .ev-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features h2 i {
    font-size: 45px;
    color: #043361;
  }
  .features h4 {
    color: #043361;
  }
  .about-us {
    text-align: center;
  }
  .about-us .doc-image {
    display: none;
  }
  .about-us .doc-desc h6 {
    margin-bottom: 15px;
    font-size: 11px;
  }
  .about-us .doc-desc h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-us .doc-desc p {
    font-size: 10px;
    line-height: 15px;
  }
  .about-us .doc-desc .feature-list i {
    margin: 0px;
  }
  .about-us .doc-desc .feature-list h5 {
    margin-top: 20px;
    font-size: 15px;
  }
  .consultation h3 {
    font-size: 20px;
  }
  .consultation p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .consultation .special-btn-cols {
    text-align: center;
  }
  .consultation .special-btn {
    padding: 7px 14px;
    font-size: 13px;
  }
  .departments h5 {
    font-size: 14px;
  }
  .departments h3 {
    font-size: 22px;
  }
  .departments p {
    font-size: 12px;
    line-height: 18px;
  }
  .departments .desc-paragraph {
    padding: 0px;
  }
  .departments .tabs ul li button {
    font-size: 12px;
  }
  .departments .doc-desc {
    text-align: center;
    padding: 0px;
  }
  .departments .doc-desc h3 {
    margin-bottom: 15px;
  }
  .departments .doc-desc p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .departments .doc-desc .feature-list i {
    margin: 5px;
    font-size: 25px;
    padding: 10px;
  }
  .departments .doc-desc .feature-list h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .departments .doc-image {
    display: none;
  }
  .doctors {
    padding: 0px;
  }
  .doctors h5 {
    font-size: 12px;
  }
  .doctors h3 {
    font-size: 24px;
  }
  .doctors .desc-paragraph {
    font-size: 12px;
    padding: 0px;
  }
  .doctors .large-doctors {
    display: none;
  }
  .doctors .small-doctors .doc-sm-desc {
    text-align: left;
  }
  .doctors .small-doctors .doc-sm-desc h5 {
    font-size: 12px;
    color: #4DBBAB;
  }
  .doctors .small-doctors .doc-sm-desc h6 {
    color: #043361;
    font-size: 12px;
  }
  .doctors .small-doctors .doc-sm-desc p {
    font-size: 12px;
  }
  .doctors .small-doctors {
    display: block;
  }
  .testimonials {
    padding: 20px 80px 10px 80px;
  }
  .testimonials h5 {
    font-size: 12px;
  }
  .testimonials h3 {
    font-size: 24px;
  }
  .testimonials .desc-paragraph {
    padding: 0px;
    font-size: 12px;
  }
  .testimonials h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .testimonials h1 i {
    font-size: 20px;
  }
  .testimonials p {
    font-size: 12px;
  }
  .testimonials .doc-name {
    color: #4DBBAB;
  }
  .testimonials h6 {
    font-size: 12px;
    color: #043361;
  }
  .contact-us {
    height: 570px;
  }
  .contact-us h6 {
    font-size: 14px;
  }
  .contact-us h3 {
    font-size: 26px;
  }
  .contact-us p {
    font-size: 14px;
  }
  .contact-us .statistics {
    display: none;
  }
  .pricing {
    padding: 40px 30px;
  }
  .pricing .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .pricing h5 {
    font-size: 12px;
  }
  .pricing h3 {
    font-size: 24px;
  }
  .pricing .plan-card {
    margin-top: 10px;
    position: relative;
    padding: 15px 10px;
  }
  .pricing .plan-card h4 {
    font-size: 16px;
  }
  .pricing .plan-card h3 {
    font-size: 25px;
  }
  .pricing .plan-card h3 span {
    font-size: 10px;
  }
  .pricing .plan-card ul li {
    margin: 15px auto;
    font-size: 14px;
  }
  .pricing .plan-card .get-offer {
    position: absolute;
    top: 270px;
    left: 30%;
    margin: auto;
    color: #FFF;
    padding: 7px 5px;
    border-radius: 50px;
    font-size: 12px;
    width: 40%;
  }
  .blog {
    padding: 0px;
  }
  .blog .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .blog h5 {
    font-size: 12px;
  }
  .blog h3 {
    font-size: 24px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 18px;
    margin-top: 15px;
  }
  .footer ul li {
    font-size: 13px;
  }
  .footer .social-ico li a i {
    font-size: 18px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  header .upper-nav p {
    font-size: 12px;
  }
  header .upper-nav span {
    font-size: 14px;
  }
  header .special-btn {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 20px;
    color: #FFF;
  }
  header .hero-box {
    margin-top: 150px;
  }
  header .hero-box h1 {
    color: #043361;
    font-size: 50px;
    font-weight: bolder;
  }
  header .hero-box span {
    color: black;
    font-size: 35px;
    font-weight: bolder;
  }
  header .hero-box h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .features {
    margin-top: -50px;
  }
  .features p {
    color: #FFFFFF;
    letter-spacing: 2px;
  }
  .features .card {
    padding: 20px;
    border-radius: 0px;
    border: none;
  }
  .features .od-section h4 {
    font-size: 18px;
  }
  .features .od-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features .ev-section h4 {
    font-size: 18px;
  }
  .features .ev-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features h2 i {
    font-size: 45px;
    color: #043361;
  }
  .features h4 {
    color: #043361;
  }
  .about-us {
    text-align: center;
  }
  .about-us .doc-image {
    padding-top: 30px;
  }
  .about-us .doc-desc {
    padding: 30px;
  }
  .about-us .doc-desc h6 {
    margin-bottom: 15px;
    font-size: 11px;
  }
  .about-us .doc-desc h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-us .doc-desc p {
    font-size: 12px;
    line-height: 15px;
  }
  .about-us .doc-desc .feature-list i {
    margin: 0px;
  }
  .about-us .doc-desc .feature-list h5 {
    margin-top: 5px;
    font-size: 15px;
  }
  .consultation h3 {
    font-size: 20px;
  }
  .consultation p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .consultation .special-btn-cols {
    text-align: center;
  }
  .consultation .special-btn {
    padding: 7px 14px;
    font-size: 13px;
  }
  .departments h5 {
    font-size: 14px;
  }
  .departments h3 {
    font-size: 22px;
  }
  .departments p {
    font-size: 12px;
    line-height: 18px;
  }
  .departments .desc-paragraph {
    padding: 0px;
  }
  .departments .tabs ul li a {
    font-size: 15px;
  }
  .departments .doc-desc {
    padding: 0px;
  }
  .departments .doc-desc h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  .departments .doc-desc p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .departments .doc-desc .feature-list i {
    margin: 5px;
    font-size: 25px;
    padding: 10px;
  }
  .departments .doc-desc .feature-list h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .doctors {
    padding: 0px;
  }
  .doctors h5 {
    font-size: 12px;
  }
  .doctors h3 {
    font-size: 24px;
  }
  .doctors .desc-paragraph {
    font-size: 12px;
    padding: 0px;
  }
  .doctors .large-doctors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .doctors .small-doctors .doc-sm-desc {
    text-align: left;
  }
  .doctors .small-doctors .doc-sm-desc h5 {
    font-size: 12px;
    color: #4DBBAB;
  }
  .doctors .small-doctors .doc-sm-desc h6 {
    color: #043361;
    font-size: 12px;
  }
  .doctors .small-doctors .doc-sm-desc p {
    font-size: 12px;
  }
  .doctors .small-doctors {
    display: none;
  }
  .testimonials {
    padding: 20px 80px 10px 80px;
  }
  .testimonials h5 {
    font-size: 12px;
  }
  .testimonials h3 {
    font-size: 24px;
  }
  .testimonials .desc-paragraph {
    padding: 0px;
    font-size: 12px;
  }
  .testimonials h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .testimonials h1 i {
    font-size: 20px;
  }
  .testimonials p {
    font-size: 12px;
  }
  .testimonials .doc-name {
    color: #4DBBAB;
  }
  .testimonials h6 {
    font-size: 12px;
    color: #043361;
  }
  .contact-us {
    height: 570px;
  }
  .contact-us h6 {
    font-size: 14px;
  }
  .contact-us h3 {
    font-size: 26px;
  }
  .contact-us p {
    font-size: 14px;
  }
  .contact-us .statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us .facts-card {
    border: none;
    background-color: #F7F7F7;
    padding: 25px;
    margin: 12px;
  }
  .contact-us .facts-card .counter {
    font-weight: bold;
    color: #4DBBAB;
    font-size: 18px;
  }
  .contact-us .facts-card h5 {
    font-size: 12px;
  }
  .pricing {
    padding: 40px 30px;
  }
  .pricing .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .pricing h5 {
    font-size: 12px;
  }
  .pricing h3 {
    font-size: 24px;
  }
  .pricing .plan-card {
    margin-top: 10px;
    position: relative;
    padding: 15px 10px;
  }
  .pricing .plan-card h4 {
    font-size: 16px;
  }
  .pricing .plan-card h3 {
    font-size: 25px;
  }
  .pricing .plan-card h3 span {
    font-size: 10px;
  }
  .pricing .plan-card ul li {
    margin: 15px auto;
    font-size: 14px;
  }
  .pricing .plan-card .get-offer {
    position: absolute;
    top: 270px;
    left: 30%;
    margin: auto;
    color: #FFF;
    padding: 7px 5px;
    border-radius: 50px;
    font-size: 12px;
    width: 40%;
  }
  .blog {
    padding: 0px;
  }
  .blog .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .blog h5 {
    font-size: 12px;
  }
  .blog h3 {
    font-size: 24px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 18px;
    margin-top: 15px;
  }
  .footer ul li {
    font-size: 13px;
  }
  .footer .social-ico li a i {
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  header .upper-nav img {
    margin-bottom: 10px;
  }
  header .upper-nav p {
    font-size: 12px;
  }
  header .upper-nav span {
    font-size: 14px;
  }
  header .special-btn {
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 20px;
    color: #FFF;
  }
  header .hero-box {
    margin-top: 150px;
  }
  header .hero-box h1 {
    color: #043361;
    font-size: 50px;
    font-weight: bolder;
  }
  header .hero-box span {
    color: black;
    font-size: 35px;
    font-weight: bolder;
  }
  header .hero-box h4 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .features {
    margin-top: -50px;
  }
  .features p {
    color: #FFFFFF;
    letter-spacing: 2px;
  }
  .features .card {
    padding: 20px;
    border-radius: 0px;
    border: none;
  }
  .features .od-section h4 {
    font-size: 18px;
  }
  .features .od-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features .ev-section h4 {
    font-size: 18px;
  }
  .features .ev-section p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .features h2 i {
    font-size: 45px;
    color: #043361;
  }
  .features h4 {
    color: #043361;
  }
  .about-us {
    text-align: center;
  }
  .about-us .doc-image {
    padding-top: 30px;
  }
  .about-us .doc-desc {
    padding: 30px;
  }
  .about-us .doc-desc h6 {
    margin-bottom: 15px;
    font-size: 11px;
  }
  .about-us .doc-desc h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about-us .doc-desc p {
    font-size: 12px;
    line-height: 15px;
  }
  .about-us .doc-desc .feature-list i {
    margin: 0px;
  }
  .about-us .doc-desc .feature-list h5 {
    margin-top: 5px;
    font-size: 15px;
  }
  .consultation h3 {
    font-size: 20px;
  }
  .consultation p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .consultation .special-btn-cols {
    text-align: center;
  }
  .consultation .special-btn {
    padding: 7px 14px;
    font-size: 13px;
  }
  .departments h5 {
    font-size: 14px;
  }
  .departments h3 {
    font-size: 22px;
  }
  .departments p {
    font-size: 12px;
    line-height: 18px;
  }
  .departments .desc-paragraph {
    padding: 0px;
  }
  .departments .tabs ul li a {
    font-size: 15px;
  }
  .departments .doc-desc {
    padding: 0px;
  }
  .departments .doc-desc h3 {
    margin-bottom: 15px;
    text-align: center;
  }
  .departments .doc-desc p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .departments .doc-desc .feature-list i {
    margin: 5px;
    font-size: 25px;
    padding: 10px;
  }
  .departments .doc-desc .feature-list h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  .doctors {
    padding: 0px;
  }
  .doctors h5 {
    font-size: 12px;
  }
  .doctors h3 {
    font-size: 24px;
  }
  .doctors .desc-paragraph {
    font-size: 12px;
    padding: 0px;
  }
  .doctors .large-doctors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .doctors .small-doctors .doc-sm-desc {
    text-align: left;
  }
  .doctors .small-doctors .doc-sm-desc h5 {
    font-size: 12px;
    color: #4DBBAB;
  }
  .doctors .small-doctors .doc-sm-desc h6 {
    color: #043361;
    font-size: 12px;
  }
  .doctors .small-doctors .doc-sm-desc p {
    font-size: 12px;
  }
  .doctors .small-doctors {
    display: none;
  }
  .testimonials {
    padding: 20px 80px 10px 80px;
  }
  .testimonials h5 {
    font-size: 12px;
  }
  .testimonials h3 {
    font-size: 24px;
  }
  .testimonials .desc-paragraph {
    padding: 0px;
    font-size: 12px;
  }
  .testimonials h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .testimonials h1 i {
    font-size: 20px;
  }
  .testimonials p {
    font-size: 12px;
  }
  .testimonials .doc-name {
    color: #4DBBAB;
  }
  .testimonials h6 {
    font-size: 12px;
    color: #043361;
  }
  .contact-us {
    height: 570px;
  }
  .contact-us h6 {
    font-size: 14px;
  }
  .contact-us h3 {
    font-size: 26px;
  }
  .contact-us p {
    font-size: 14px;
  }
  .contact-us .statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-us .facts-card {
    border: none;
    background-color: #F7F7F7;
    padding: 25px;
    margin: 12px;
  }
  .contact-us .facts-card .counter {
    font-weight: bold;
    color: #4DBBAB;
    font-size: 18px;
  }
  .contact-us .facts-card h5 {
    font-size: 12px;
  }
  .pricing {
    padding: 40px 30px;
  }
  .pricing .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .pricing h5 {
    font-size: 12px;
  }
  .pricing h3 {
    font-size: 24px;
  }
  .pricing .plan-card {
    margin-top: 10px;
    position: relative;
    padding: 15px 10px;
  }
  .pricing .plan-card h4 {
    font-size: 16px;
  }
  .pricing .plan-card h3 {
    font-size: 25px;
  }
  .pricing .plan-card h3 span {
    font-size: 10px;
  }
  .pricing .plan-card ul li {
    margin: 15px auto;
    font-size: 14px;
  }
  .pricing .plan-card .get-offer {
    position: absolute;
    top: 270px;
    left: 30%;
    margin: auto;
    color: #FFF;
    padding: 7px 5px;
    border-radius: 50px;
    font-size: 12px;
    width: 40%;
  }
  .blog {
    padding: 0px;
  }
  .blog .desc-paragraph {
    letter-spacing: 1px;
    padding: 15px 5px;
    font-size: 12px;
  }
  .blog h5 {
    font-size: 12px;
  }
  .blog h3 {
    font-size: 24px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 18px;
    margin-top: 15px;
  }
  .footer ul li {
    font-size: 13px;
  }
  .footer .social-ico li a i {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .doctors .card .social-links {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */
